<div class="text-center">
    <h1>Postea algo...</h1>
    <md-input-container class="full-width">
        <input #title mdInput placeholder="Título">
    </md-input-container>

    <p>
        <md-input-container class="full-width">
          <textarea #description mdInput placeholder="Descripción"></textarea>
        </md-input-container>
    </p>

    <md-radio-group>
        <md-radio-button #id1 value="1" (click)="fool(id1.value)">Programación</md-radio-button>
        <md-radio-button #id2 value="2" (click)="fool(id2.value)">Salud y Belleza</md-radio-button>
        <md-radio-button #id3 value="3" (click)="fool(id3.value)">Tecnología</md-radio-button>
        <md-radio-button #id4 value="4" (click)="fool(id4.value)">Alimentación</md-radio-button>
        <md-radio-button #id5 value="5" (click)="fool(id5.value)">Música</md-radio-button>
    </md-radio-group>
    <br><br>

    <button md-button class="post-btn" style="text-align: center" (click)="submitPost(title.value,description.value);closePost()">
      <md-icon style="margin-right: 0px">play_for_work</md-icon>
      Publish!
    </button>

</div>
